<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота 7
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент АнД-31 Пархоменко Е.Д.
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Лабораторні роботи
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Лабораторна робота №7</ion-card-title>
      <br>
      <ion-card-title>Завдання </ion-card-title>
      <p>Дана наступна ієрархія класів: </p>
      <p>Місце, область, місто, мегаполіс</p>
      <div class="img_formula"></div>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-button (click)="ras()">Розрахунок</ion-button>
      <ion-item>{{show}}</ion-item> -->
    </ion-card-content>
  </ion-card>
</ion-content>
