<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота 1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент АнД-31 Пархоменко Е.Д.
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Лабораторні роботи
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        На заданому проміжку чисел [a,b] знайдіть кількість чисел, які при діленні на 5 дають в остачі 4, а при діленні на 6 дають в остачі 5.
      </p>
      <ion-item>
        <ion-input label="Перше число" label-placement="floating" placeholder="3" type="number" #InputA></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Друге число" label-placement="floating" placeholder="1" type="number" #InputB></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="ras(InputA.value, InputB.value)">Розрахунок</ion-button>
      <ion-item>
        <p>Результат обчислення {{d}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Лабораторна №1</ion-title>
  </ion-toolbar>
</ion-footer>